{% extends 'base.html.twig' %}

{% block title %}Nouveau Job{% endblock %}

{% block body %}
    <br>
    <h1>Créer un nouveau job</h1>

    {{ include('job/_form.html.twig') }}
    <br>
    <a class="btn btn-sm btn-info" href="{{ path('job_index') }}">
        <i class="fas fa-arrow-left"></i>
        Retour à la liste
    </a>
{% endblock %}
